.image-caption-wrapper{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background: rgba(0,0,0,.7);
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    opacity: 0;
}

.image-caption{
    color: white;
}

.image-container{
    display: block;
    position: relative;
    margin: 0;
}



.image-container:hover .image-caption-wrapper {
    opacity: 1;

}