.row{
    margin: 0;
}

.container{
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.User-Portal{
    background-image: url('../sources/login-bg.jpg');
}

#donateText{
    color: black;
}

.text{
    color: black;
}

